@charset "utf-8";

#fatman {
	display: block;
	margin-left: auto;
	margin-top: 50px;
    margin-right: auto;
	margin-bottom: 50px;
}

#message {
	font-size: xx-large;
	font-weight: bold;
	color: brown;
	text-align: center;
}